.card-inner__wrapper {
  display: grid;
  grid-template-areas:
    'LT   LT    LT'
    'cID  .  cAS'
    'cL cL cL'
    'cL cL cL'
    'cL cL cL'
    'cTs cTs cTs'
    'cCr cCr cCr';
  padding: $pad--super-fat;
  margin: $pad--base;
  position: relative;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 100ms ease-in;
}

.card:hover {
  background-color: $ash--super-light;
  color: $bluescreen;
}

.card--selected {
  border: 5px solid $ash;
}

.card__diagonal-line-wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.card__diagonal-line {
  width: 100%;
  height: 100%;
}

.card__diagonal-line--show {
  opacity: 100;
}

.card__diagonal-line--hide {
  opacity: 0;
}

.card-title {
  grid-area: cL;
  text-transform: camel-case;
}

.card-tags {
  grid-area: cTs;
  display: flex;
}

.card-assignee {
  grid-area: cAS;
  text-transform: uppercase;
  color: $white--40pct;
}

.card-creator {
  grid-area: cCr;
  color: $white--40pct;
  font-size: 10px;
  opacity: 0.4;
}

.card-id {
  grid-area: cID;
}

.card-line {
  grid-area: LT;
}

.card-line--wavy {
  border: 1px dashed red;
}

.card-line--flat {
  border: 1px solid white;
}
