$WAVE_SPEED: 5s;
$WAVE_SVG: '../assets/svgs/WavyLine.svg';

@keyframes animateWave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.wavy-line {
  width: 100%;
  height: 5px;
  position: relative;
  background: url($WAVE_SVG) repeat-x 0%;
  background-size: contain;
  animation: $WAVE_SPEED animateWave linear infinite;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
  }
}

.wavy-line--show {
  opacity: 100;
}

.wavy-line--hide {
  opacity: 0;
}
