.wave {
  width: 600px;
  height: 400px;
}

.wave-path {
  stroke: #2727e6;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.wavy-line {
  width: 100%;
  height: 10px;
}
.wavy-line--show {
  border: 5px solid pink;
}
.wavy-line--hide {
  border: 0;
}
