.card-columns__wrapper {
}

.card-column {
  display: flex;
  justify-items: start;
}

.card-column__title {
  padding-bottom: $pad--fat;
}

.card-column__card-holder {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 25vw));
  grid-auto-rows: 370px;
}

.card-column__backlog {
  background-color: darken($bluescreen, 5%);
}

.card-column__working {
  background-color: darken($bluescreen, 10%);
}
.card-column__ready {
  background-color: darken($bluescreen, 15%);
}
.card-column__done {
  background-color: darken($bluescreen, 20%);
}
.epic-story {
  padding-bottom: $pad--fat;
}
