.card {
  padding: $pad--fat;
  border-top: 1px solid $ash;

  display: flex;
  flex-direction: column;
  justify-content: start;
}
.card:hover {
  background-color: $ash--super-light;
  color: $bluescreen;
}

.card-title {
  text-transform: camel-case;
}

.card-assignee {
  text-transform: uppercase;
  color: $white--40pct;
}

.card-id {
  align-self: end;
}

.card-description {
}
