.card {
  padding: $pad--base;
  background-color: $bluescreen;
  border: 1px solid $ash;
  margin-top: -1px;
}
.card:hover {
  background-color: $ash--super-light;
  color: $bluescreen;
}

.card-title {
}

.card-description {
}
