.epic-header-wrapper {
  padding: $pad--fat $pad--thin;
}

.epic-columns__wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.tiny-square {
  width: 10px;
  height: 10px;
  background-color: $white;
}
