.mode-bar__wrapper {
  background-color: #333;
}

.mode-bar__wrapper--normal {
  background-color: pink;
}
.mode-bar__wrapper--visual {
  background-color: green;
}
.mode-bar__wrapper--insert {
  background-color: purple;
}
