// Typeography is 'normalized' in the _normalize.scss
// Changes here will override _normalize.scss

body {
  font-family: 'FiraLight';
}

h1 {
  font-family: 'FiraLight';
  font-size: 3em;
  font-weight: 100;
}
h2 {
  font-family: 'FiraLight';
  font-size: 2em;
  font-weight: 100;
}
