$fonts-folder-path: './../static/fonts/'; // relative to css folder

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('/fonts/#{$font-filename}.otf') format('opentype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
@mixin declare-woff-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('/fonts/#{$font-filename}.eot?3w6c9k');
    src:
      url('/fonts/#{$font-filename}.eot?3w6c9k#iefix') format('embedded-opentype'),
      url('/fonts/#{$font-filename}.woff?3w6c9k') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

