$aqua-marine: #41cdd4;
$bluish-grey: #7f8b91;
$bright-cyan: #4df6cf;
$charcoal-grey: #424a4e;
$dark-charcoal-grey: #323d42;
$dark-grey-blue: #395866;
$dark-grey: #273034;
$dark-sky-blue: #4180d4;
$dark-blue: #1d2629;
$dark-blue-hover: #151c1f;
$darkish-blue: #3347b3;
$dark: #1a2124;
$fresh-green: #7ee354;
$lightish-blue: #4c67fa;
$off-white: #f5f6f5;
$pink: #f044cf;
$slate-grey: #93a2a8;
$viablue: #54bceb;
$white: #ffffff;

$page-background: $dark-grey;
$default-font-color: $slate-grey;

$hero-background: $dark;
