$font-main: "AtlasGroteskRegular";
$font-main_bold: "AtlasGroteskMed";
$font-secondary: "DecimaMonoProBold";

$base-font-size: 14px;
$base-line-height: $base-spacing * 3;

$banner-font-size: 36px;
$banner-line-height: $base-spacing * 7;
