h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  color: $slate-grey;
  text-transform: uppercase;
}

.h2--no-margin {
  margin: 0;
}

h3 {
  font-size: 20px;
  color: $slate-grey;
  text-transform: uppercase;
}

.h3--large {
  font-size: 36px;
}

.byline {
  font-family: $font-secondary;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
}

.header-with-byline {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: $base-spacing;
  }

  .byline {
    margin-top: 0;
  }
}
